<h1 class="text-center titre">Edit the ingredient !</h1>

<%= render 'form' %>

<div class="text-center">
<%= link_to '<i class="fa fa-reply"></i> Back to summary'.html_safe, ingredients_path, class: "text-center bottom_actions" %>
</div>