<h1 class="text-center titre">Les ingrédients</h1>
<div class="text-center ingredients_list">
<ul class="list-unstyled">
  <% @ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.name %> -
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_ingredient_path(ingredient) %>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
</ul>
</div>

<br>
<div class="text-center">
  <%= link_to 'New Ingredient', new_ingredient_path, class: "btn btn-success" %>
</div>


